@import url(../reset.css);

body{
    display:grid;
    grid-template-columns: 1fr 85%;
    grid-template-rows: auto 1fr;
     min-height: 100vh;
}

header{
    display: grid;
    grid-column: auto / span 2;
    grid-template-columns: repeat(3, 1fr);

    height: 4rem;
}

#menuPrincipal{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
}

#menuBurguer{
    grid-column-start: 2;
    height: 2em;
}

#logoYT{
    padding-left: 20px;
    height: 1.6em;
}

#menuBuscar{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

input{
    grid-column-start: 1;
    grid-column-end: 2;

    height: 2.5rem;
    font-size: larger;
    box-sizing: border-box;
    padding-left: 20px;

    border-radius: 20px 0% 0% 20px;
    border: solid 1px #828282;
}

.busca{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 2.5rem;
    width: 4em;
    background-color: #f5f5f5;
    border: solid 1px #828282;

    box-sizing: border-box;
}

.busca > img{
    width: 2em;
}

#menuUsuario{
    display: grid;
    grid-template-columns: 60%  repeat(3, 1fr);
    align-items: center;
}

#imgCamera{
    height: 2.2em;
    grid-column-start: 2;
}

#imgSino{
    height: 2.2em;
}

#imgPerfil{
    height: 2.2em;
}

aside{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 3em;
    align-items: center;
}

aside > nav{
    display: grid;
    grid-template-columns: 15% 15% auto;
    grid-template-rows: auto;
    align-items: center;
}

nav > img{
    grid-column-start: 2;
    height: 1.6em;
}
nav > p{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

main{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: 320px;
    row-gap: 10px;

    background-color: #f5f5f5;
    padding-top: 2rem;
}

.mainItem{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60% auto;
}

.thumb{
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumb > img{
    height: 90%;
}

.infoVideo{
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 0.8em;
    grid-template-rows: 55% 1fr;

    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5px;
}

.logoDIO{
    width: 100%;
    border-radius: 50px;
}

.titulo{
    grid-column-start: 2;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.infos{
    grid-column-start: 2;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: rgba(0, 0, 0, 80%);
}