@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgba(255, 0, 0, 0.15);
    background-image: linear-gradient(90deg, rgba(200,0,0, .5) 50%, transparent 50%),
    linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
    background-size: 45px 45px;
}

#fundo-branco{
    background-color: white;

    height: auto;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;

    border-radius: 40px 40px 0 0;
}

.header{
    background-color: rgb(252, 227, 234);
    background-image: url(./assets/images/banner-01.png);
    background-size: contain;
    background-position: 20px center;
    background-repeat: no-repeat;

    box-sizing: content-box;
    height: 20%;
    width:auto;

    border-radius: 40px 40px 0 0;
    border-bottom: 8px double rgba(200, 0, 0, 0.3);   
}

.menu{
    color: rgb(252, 227, 234);
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    margin-right: 2%;
    padding-top: 80px;

    line-height: 5em;
    text-align: right;
}

nav > span{
    background-color: rgba(200, 0, 0, 0.7);
    padding: 2px 20px;
    margin-left: 5px;

    border-radius: 10px;
}

#intro{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 25px;
}

#bem_vindo{
    color: rgba(200, 0, 0, 0.7);
    text-decoration: underline;
    text-decoration-thickness: 2px;

    margin-bottom: 20px;

    font-size: 64px;
    font-family: "Courgette", sans-serif;
}

#msn_boas_vindas{
    color: rgb(117, 21, 48);

    width: 70%;
    margin: auto;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    letter-spacing: 0.08em;
}

#opcoes{
    margin: 80px 0px;
    height: auto;
    width: 100%;;

    padding: 0px 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.comidas{
    background-color: rgba(252, 227, 234, 0.5);
    background-size: 300px 300px;
    background-repeat: no-repeat;

    box-sizing: border-box;
    border-radius: 2em;

    width: 70%;
    height: 360px;
    padding-top: 30px;
    margin-bottom: 50px;
}

h2{
    color: rgba(200, 0, 0, 0.7);

    font-size: 32px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    text-align: center;
}

.texto_direita{
    width: 280px;
    height: 240px;
    margin-left: 550px;
}

.texto_direita > p{
    color: rgb(117, 21, 48);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    text-align: justify;
}

.texto_direita > hr{
    width: 60%; 
    height: 2px; 
    background-color: rgba(200, 0, 0, 0.7); 
    border-width: 0px; border-radius: 20px;
}

.texto_esquerda{
    width: 280px;
    height: 240px;
    margin-left: 120px;
}

.texto_esquerda > p{
    color: rgb(117, 21, 48);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    text-align: justify;
}

.texto_esquerda > hr{
    width: 90%; 
    height: 2px; 
    background-color: rgba(200, 0, 0, 0.7); 
    border-width: 0px; border-radius: 20px;
}


footer{
    background-color: rgb(117, 21, 48);
    border-top: 6px solid rgba(200, 0, 0, 0.7); 

    height: 250px;
    box-sizing: content-box;

    padding-bottom: 120px;
}

footer > p{
    color: rgb(252, 227, 234);
    text-align: center;

    font-size: 32px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    margin-top: 20px;
    margin-bottom: 30px;
}

label{
    color:rgb(252, 227, 234);
    font-family: Arial, Helvetica, sans-serif;

    margin-left: 50px;
}

input{
    margin-bottom: 20px;
    border-radius: 5px;
}

textarea{
    border-radius: 5px;
}

#botao{
    text-align: center;
    margin-top: 20px;
}

button{
    padding: 5px 30px;

    color:rgb(252, 227, 234);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;

    background-color: transparent;
    border: 3px solid;
    border-radius: 4px;
}