@import url("../../reset.css");

body {
    display: flex;
    flex-flow: column nowrap;

    background-color: whitesmoke;
    padding-top: 30px;
}

header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: start;

    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.4rem;

    padding: 10px 8%;
    width: auto;
}

header>img {
    width: 2rem;
    margin-left: 2%;
}

#ShopLogo {
    justify-self: left;
    margin-right: auto;
}

.inAppNav {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 1rem;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.9);
}

#actalPage {
    color: rgb(70, 70, 70);
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 2px;
}

a {
    text-decoration: none;
    color: inherit;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;

    align-self: center;
}

main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    grid-template-rows: 3rem repeat(3, minmax(auto, min-content));
    row-gap: 10px;

    padding: 10px 8% 20px;
    background-color: rgba(161, 161, 161, 0.2);
}

#primeiraCategoria {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

#segundaCategoria {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

#terceiraCategoria {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

#quartaCategoria {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

#quintaCategoria {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}

.categoria {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    min-height: 25vh;
    width: 100%;

    background-color: white;
    border-radius: 0.6rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.categoria>img {
    width: 40%;
    height: auto;
}

.nomeCategoria {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(50, 50, 50);

    margin-left: 1.4rem;
}

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;

    border-top: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
}

ul {
    display: inline-flex;
    flex-flow: row nowrap;
    align-self: center;
    justify-content: space-around;
    column-gap: 1rem;
}

.mainNav {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    row-gap: 0.2em;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.navImg {
    width: auto;
    height: 1.8rem;
}

.outrasInfos {
    display: inline-grid;
    grid-template-columns: 6fr 5fr 6fr;
    grid-template-rows: 1.4em 1.4em 1.4em;
    column-gap: 8px;
    row-gap: 10px;

    width: 100%;
    font-size: 0.9em;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.logoLinks {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.socialMediaLinks>img {
    width: 2rem;
    margin-right: 10px;
}

.mobileOnly {
    display: none;
}