@import url(../reset.css);

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0%;

    background-color: white;
    height: 4em;
    width: 100%;

    padding-right: 2%;
    padding-left: 2%;
    box-sizing: border-box;

}

#container1{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    height: 70%;
    flex: 0 0 12%;
}

#container1 > img{
    height: 60%;
}

#container2{
    border: solid 2px #CCCCCC;

    height: 70%;
    display: flex;
    flex-flow: row-reverse nowrap;

    flex: 0 0 30%;
}

#container2 > div{
    width: 15%;
    height: 100%;

    background-color: #F8F8F8;
    border-left: solid 2px #CCCCCC;

    display: flex;
    justify-content: center;
    align-items: center;
}

#container2 > div > img{
    max-height: 80%;
}

#container3{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 70%;
    flex: 0 0 12%;
}

#container3 > img{
    max-height: 80%;
}

#fotoPerfil{
    border-radius: 100%;
}

body{
    background-color: rgb(246, 246, 246);
}

main{
    display: flex;
    column-gap: 2em;
    
    width: 100%;
    height: auto;

    padding-left: 5%;
    padding-right: 2%;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#video{
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1.5em;
    flex: 1 1 60%;
    max-width: 65%;
}

.negrito{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.actions{
    display: flex;    
    flex-grow: 0;
    justify-content: space-between;
    align-items: center;

    max-height: 3em;
    max-width: 100%;    
}

.channel{
    display: flex;
    flex-flow: column wrap;
    align-items: start;
    justify-content: center;
    column-gap: 1em;
    row-gap: 0.1em;

    height: 100%;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
}

img[alt="Foto de perfil do canal"] {
    border-radius: 100%;
    height: 100%;
    width: auto;
    object-fit: contain;
}

button{
    background-color: rgb(236, 0, 0);
    border-radius: 3px;
    border: none;
    width: 16%;
    height: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
}

.interagir{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5em;

    height: 80%;
    font-size: 1em;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.interagir > img{
    height: 65%;
    width: auto;
    object-fit: contain;
}

.description{
    max-width: 55%;
    font-size: 1em;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 65%;
}

#outrosVideos{
    display:flex;
    flex-flow: column nowrap;
    flex: 0.8 1 20%;
    row-gap: 1.2em;

    height: 100%;
}

.recomendations{
    display: flex;
    flex-flow: row wrap;
    column-gap: 1em;

    width: 100%;
    height: 20%;
}

.recomendations > img{
    height: auto;
    width: 40%;

    object-fit: contain;
}

.recomendationText{
    display: flex;
    flex-flow: column wrap;
    flex: 1 0 40%;
    justify-content: space-between;

    max-height: 100%;
}

.recomendationTitle{
    font-weight: bold;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.recomendationInfo{
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.7;
}