@import url(../reset.css);
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    display: flex;
    align-items: center;

    height: 100%;
    background-color: red;
}

.acesso{
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 100%;
    align-items: center;

    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;

    background-image: url(./imgs/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#textoInit{
    font-family: "Luckiest Guy";
    font-size: 2rem;
    color: white;
    align-self: start;

    margin-bottom: 1.2em;
}

#textoComp{
    font-family: "Open Sans";
    color: white;

    margin-bottom: 1.8rem;
}

.botao{
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    box-sizing:border-box;

    font-family: "Open Sans";
    font-weight: 500;
    font-size: 1rem;

    border-radius: 2em;
    border-width: 0;
}

.botaoBranco{
    margin-bottom: 1rem;
    color: black;
}

.botaoPreto{
    background-color: #23272A;
    color: white;
}

